.float {
    float:left;
}

#float-right {
    float:right;
}

#main-para {
    margin-left:20px;
    padding-left:20px;
}

.clear-float {
    clear:both;
}

body {
    background-image: url('https://image.freepik.com/free-photo/blue-with-vignette-marble-texture-background-with-copy-space_23-2148327728.jpg');
    box-sizing: border-box;
}
.my-container{
    background-color: white;
    margin-top:40px;
    height:600px;
}
.my-footer {
    background-color:white;
    text-align: center;
    background-color: gray;
    
    
}

